body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    position:absolute;
    width: 500px;
    background: #39617D;
    padding: 30px;
    text-align: center;
    border-radius:15px;
}
h1 {
    color:aliceblue;
    font-family: 'Inter', sans-serif;
}
input{
	display: block;
	border: 2px solid #ccc;
	width: 70%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
    opacity: .7;
    font-family: 'Inter', sans-serif;    
}
input[type="text"], textarea {

    background-color : #D9D9D9; 
}
input[type="password"], textarea {

    background-color : #D9D9D9; 
}
button{
    border: 2px solid #2D89CF;
    background-color: #2D89CF;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;  
    padding: 10px;  
    margin: 10px auto;
}
.error{
    background-color: #f2dede;
    color: #A94442;
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto;
    font-family: 'Inter', sans-serif;    
}


